<template>
  <div class="banner">
    <slot></slot>
  </div>
</template>
<script>
export default {};
</script>
<style scoped>
.banner {
  padding: 12px;
  background-color: #fcf6cd;
  color: #f6a623;
  text-align: left;
  z-index: 2;
}
.banner__top {
  top: 0;
}
.banner__bottom {
  bottom: 0;
}
</style>
