<template>
  <div class="button">Кнопка</div>
</template>
<script>
export default {};
</script>
<style scoped>
.button {
  background: #09f;
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
}
</style>
